.nav-link:hover {
  background-color: whitesmoke;
  color: black;
}

.nav-link .fa {
  transition: all 1s;
}

.nav-link:hover .fa {
  transform: rotate(360deg);
}

.nav-link.active {
  background-color: seagreen;
}

.nav-link {
  color: white;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
}
