.nav-link:hover {
  background-color: whitesmoke;
  color: black;
}

.nav-link .fa {
  transition: all 1s;
}

.nav-link:hover .fa {
  transform: rotate(360deg);
}

.nav-link.active {
  background-color: seagreen;
}

.nav-link {
  color: white;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
}

form.search-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid seagreen;
  float: left;
  width: 80%;
  background: whitesmoke;
}

form.search-form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: whitesmoke;
  color: seagreen;
  font-size: 17px;
  border: 1px solid seagreen;
  border-left: none;
  cursor: pointer;
}

form.search-form button:hover {
  background: whitesmoke;
}

form.search-form::after {
  content: "";
  clear: both;
  display: table;
}