<h2>Number of houses for sale in the regions</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Region Code</th>
        <th scope="col">House Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of regionStats; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.region_code }}</td>
        <td>
          <a class="" routerLink="/house/list/{{ item.region_code }}">{{ item.house_count }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
